@charset "utf-8";

#rsvp {
	#group-hero-image {
        #us {
            @extend %plx-base;
            height: 100vh;
            background-image: url(/static/img/rsvp/hero/rsvp-us.png);
            @include and-down(s) {
                background-size: auto 50%;
            }
            @include only(m) {
                background-size: auto 60%;
            }
            @include and-up(l) {
                background-size: auto 65%;
            }
            @include and-up(xl) {
                background-size: auto 70%;
            }
        }
        #ground {
            @include make-plx-layer(-125px);
            background-image: url(/static/img/rsvp/hero/rsvp-ground.png);
            background-position: bottom center;
            background-size: 100% auto;
            @include and-down(s) {
                bottom: -2vh;
            }
            @include only(m) {
                bottom: -7vh;
            }
            @include and-up(l) {
                bottom: -15vh;
            }
        }
        #plane {
            @include make-plx-layer(-50px);
            background-image: url(/static/img/rsvp/hero/rsvp-plane.png);
            background-position: top left;
            @include and-down(s) {
                background-size: auto 15%;
                left: 15vw;
                top: 40vh;
            }
            @include only(m) {
                background-size: auto 22%;
                left: 20vw;
                top: 40vh;
            }
            @include and-up(l) {
                background-size: auto 30%;
                left: 24vw;
                top: 40vh;
            }
            @include and-up(xl) {
                left: 28vw;
                top: 40vh;
            }
        }
        #sky {
            @include make-plx-layer(-400px);
            background-image: url(/static/img/rsvp/hero/rsvp-sky.png);
            background-size: cover;
            background-position: top center;
            left: -0.5vw;
            top: -5vh;
        }
        #title {
            @include make-plx-layer(-100px);
            > div {
                margin: 0 auto;
                padding-top: 130px;
                color: $on-light-text-color;
                font-size: 3em;
                text-align: center;
                display: table;
                h1 {
                    @extend .elegant;
                    line-height: 1;
                    margin: 0;
                    padding: 0;
                    font-size: 6rem;
                }
            }
        }
    }

    .section.rsvp {
        @extend .full-height-exact;
        @include valign(middle);
        .col {
            @include align(center);
        }
        form {
            & > .row {
                padding-top: 0.5em;
                padding-bottom: 0.5em;
            }
            a {
                font-size: 1.5em;
            }
            .checkboxes > .col {
                flex-grow: 0;
                .col {
                    @include align(left);
                }
            }
        }
    }

}