// Colors

$dark-background-color: color("navy", "darken-4");
$light-background-color: color("shades", "ivory");
$on-dark-text-color: color("shades", "silver");
$on-light-text-color: color("shades", "off-black");
$primary-color: color("navy", "base");
$secondary-color: color("amber", "lighten-3");
$error-color: color("red", "darken-2");
$warning-color: color("orange", "darken-1");
$info-color: color("blue", "darken-3");
$ok-color: color("green", "darken-2");
$link-color: color("teal", "darken-1");
$link-visited-color: color("teal", "darken-3");
$table-border-color: $primary-color;
$table-striped-color: $secondary-color;

// Fonts

$base-font-family: ingra, "helvetica neue", "segoe ui", "franklin gothic", sans-serif;
$heading-font-family: ingra-2, "helvetica neue", "segoe ui", "franklin gothic", sans-serif;
$accent-font-family: annabelle-jf, "apple chancery", "monotype corsiva", "lucida calligraphy", "lucida handwriting", cursive;
$display-font-family: "american typewriter", courier, serif;

$base-font-weight: 200;
$heading-font-weight: 100;
$accent-font-weight: 400;
$display-font-weight: 400;

// Typography

$base-fontsize: 14px;
$grow-fontsize-by: 0.5px;

$h1-fontsize: 4rem;
$h2-fontsize: $h1-fontsize * 0.8;
$h3-fontsize: $h2-fontsize * 0.8;
$h4-fontsize: $h3-fontsize * 0.8;
$h5-fontsize: $h4-fontsize * 0.8;
$h6-fontsize: $h5-fontsize * 0.8;

$base-line-height: 1.2;
$h1-line-height: 1.5;
$h2-line-height: 1.5;
$h3-line-height: 1.4;
$h4-line-height: 1.4;
$h5-line-height: 1.3;
$h6-line-height: 1.3;

// Screens

$sizes: (
    xs: 300px,
    s: 600px,
    m: 900px,
    l: 1200px,
    xl: 1800px,
    xxl: null
);

// Grid

$col-spacing: 1.5rem;
$row-spacing: $col-spacing/3;
$gutter: 1em;
//$col-padding: $col-spacing/4;
$container-width: (
    xs: 100%,
    s: 100%,
    m: 90%,
    l: 80%,
    xl: 75%,
    xxl: 75%
);
$container-max-width: 1200px;

// Spacing

$section-padding: 6rem;

// Tables

