@charset "utf-8";

#group-hero-image {
	@extend %plx-group;
	z-index: 1;
}

.group-panel {
  @extend %plx-group;
  z-index: 3;
  > .background {
  	@extend %plx-base;
    padding: 5rem 0;
    margin-bottom: -1px;
  	background-color: $dark-background-color;
  	color: $on-dark-text-color;
  	&.lightbg {
  		background-color: $light-background-color;
  		color: $on-light-text-color
  	}
  }
}

.group-divider {
  @extend %plx-group;
  z-index: 2;
  > .window {
    @extend %plx-base;
    height: 200px;
  }
  > .background {
    @include make-plx-layer(-80px);
    background-size: cover;
    top: -40%;
    bottom: -40%;
    left: -1vw; 
  }
}