<div class="background">
	<div class="section events">
		<div class="container">
			<div class="row no-gaps">
				<h1 class="col">The Itinerary</h1>
			</div>
<!--			<div class="row">
				<h3 class="col typewriter">12 April 2017</h3>
			</div>
			<div class="row">
				<div class="col">Exciting activities to be announced!</div>
			</div>
			<div class="row">
				<h3 class="col typewriter">13 April 2017</h3>
			</div>
			<div class="row">
				<div class="col">Exciting activities to be announced!</div>
			</div> -->
			<div class="row">
				<h3 class="col typewriter">14 April 2017</h3>
			</div>
			<div class="row">
				<div class="col xs-full m-half xl-third">
					<img src="/static/img/main/easternmarket.png">
				</div>
				<div class="col xs-full m-half xl-third">
					<div class="row as-col no-gutter align-center">
						<h5 class="col typewriter">Ceremony</h5>
						<div class="col">6 PM at historic Eastern Market</div>
						<div class="col">200 7th St SE<br>Washington, DC 20003</div>
						<h5 class="col typewriter">Happy Hour</h5>
						<div class="col">Enjoy the scenery with drinks and snacks</div>
						<h5 class="col typewriter">Reception</h5>
						<div class="col">Dinner and dancing until late</div>
					</div>
				</div>
			</div>
<!--			<div class="row">
				<h3 class="col typewriter">15 April 2017</h3>
			</div>
			<div class="row">
				<div class="col">Exciting activities to be announced!</div>
			</div> -->
			<div class="row">
				<h4 class="col l-half">We'll let you know about other exciting activities as we finalize the details!</h4>
			</div>
		</div>
	</div>
</div>
