<div class="background">
	<div class="section events">
		<div class="container">
			<div class="row no-gaps">
				<h1 class="col">The Itinerary</h1>
			</div>
			<div class="row">
				<h3 class="col typewriter">12 April 2018</h3>
			</div>
			<div class="row">
				<div class="col xs-full m-half xl-third">
					<img src="/static/img/main/index/nats.png">
				</div>
				<div class="col xs-full m-half xl-third">
					<div class="row as-col no-gutter align-center">
						<h5 class="col typewriter">7:05pm</h5>
						<h5 class="col typewriter">Nats vs Rockies</h5>
						<div class="col">Watch the Washington Nationals take on the
							Colorado Rockies just a few blocks from the Navy Yard</div>
						<h5 class="col">National's Park</h5>
						<div class="col">1500 S Capitol St SE<br>Washington, DC 20003<br>
							Use Navy Yard Metro station on the Green line<br>
							<a href="https://goo.gl/maps/6zuHLm9uwLs" target="_blank">Map</a></div>
						<div class="col">Meet at the corner of 1st and N at 6:50 PM</div>
					</div>
				</div>
			</div>
			<div class="row">
				<h3 class="col typewriter">13 April 2018</h3>
			</div>
			<div class="row">
				<div class="col xs-full m-half xl-third">
					<div class="row as-col no-gutter align-center">
						<h5 class="col typewriter">6:30pm</h5>
						<h5 class="col typewriter">5K Friday</h5>
						<div class="col">Run a fun 5K for charity through Crystal City,
							just across the Potomac River from DC</div>
						<h5 class="col">Crystal City, VA</h5>
						<div class="col">Crystal Dr<br>Arlington, VA 22202<br>
							Use Crystal City Metro station on the Blue/Yellow lines<br>
							<a href="https://goo.gl/maps/HvDpJpXkqXx" target="_blank">Map</a></div>
						<div class="col">Meet at 2100 Crystal Dr in front of Capital One at 6:00 PM</div>
					</div>
				</div>
				<div class="col xs-full m-half xl-third">
					<img src="/static/img/main/index/5k.jpg">
				</div>
			</div>
			<div class="row">
				<h3 class="col typewriter">14 April 2018</h3>
			</div>
			<div class="row">
				<div class="col xs-full m-half xl-third">
					<img src="/static/img/main/index/easternmarket.png">
				</div>
				<div class="col xs-full m-half xl-third">
					<div class="row as-col no-gutter align-center">
						<h5 class="col typewriter">6:00pm</h5>
						<h5 class="col typewriter">Ceremony</h5>
						<div class="col">Join us as we take of on our next adventure</div>
						<h5 class="col typewriter">Happy Hour</h5>
						<div class="col">Enjoy the scenery with drinks and snacks</div>
						<h5 class="col typewriter">Reception</h5>
						<div class="col">Dinner and dancing into the night</div>
						<h5 class="col">Eastern Market</h5>
						<div class="col">215 7th St SE<br>Washington, DC 20003<br>
							Use Eastern Market Metro station on the Blue/Orange/Silver lines<br>
							<a href="https://goo.gl/maps/UbknCY1zcFk" target="_blank">Map</a></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col xs-full m-three-quarters xl-two-thirds">
					<div class="row as-col no-gutter align-center">
						<div class="col">Shuttle service will be provided from the Capitol Hill Hotel starting at 5:45 PM</div>
						<div class="col">Free street parking is available in the neighborhood north of North Carolina Ave, but note that 7th St by Eastern Market will be closed to vehicles.</div>
						<div class="col">Enter through the door at the north end on North Carolina Ave</div>
						<div class="col">Cocktail attire is requested</div>
					</div>
				</div>
			</div>
			<div class="row">
				<h3 class="col typewriter">15 April 2018</h3>
			</div>
			<div class="row">
				<div class="col">
					<div class="row as-col no-gutter align-center">
						<h5 class="col typewriter">10:00am - 2:00pm</h5>
						<h5 class="col typewriter">Brunch</h5>
						<div class="col">Stop by our home in Capitol Hill for a casual brunch.</div>
						<div class="col">Come when you can, stay as long as you like!</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
