<div class="background">
	<div class="section details">
		<div class="container">
			<div class="row">
				<h3 class="col">About the Capitol Hill Hotel</h3>
			</div>
			<div class="row">
				<div class="col xs-full m-three-quarters xl-half align-justify">
					Discover the tranquil beauty of the Capitol Hill Historic
					District in one of the most centrally located hotels in
					Washington, DC. Elegant and intimate, Capitol Hill
					Hotel is a home away from home in the heart of the
					nation’s capital, tucked away amidst the charming
					brick rowhouses of a residential neighborhood yet just
					a short walk away from Washington’s most important
					sites, including the Capitol Building, Supreme Court,
					Library of Congress, and the National Mall.
				</div>
			</div>
			<div class="row">
				<div class="col align-center">
					200 C St SE<br>Washington, DC 20003<br>
					<a href="https://goo.gl/maps/UixgfaXL7Nq" target="_blank">Map</a>
				</div>
			</div>
		</div>
	</div>
</div>