<div class="background">
	<div class="section intro">
		<div class="container">
			<div class="row">
				<h2 class="col">Capitol Hill Hotel</h2>
			</div>
			<div class="row">
				<div class="col xs-full m-half xl-third">
					<img src="/static/img/main/hotel/hotel.jpg">
				</div>
				<div class="col xs-full m-half xl-third">
					<div class="row as-col no-gutter align-center">
						<h5 class="col">Welcome to Our Neighborhood</h5>
						<div class="col align-justify">
							We want everybody to be able to experience our
							neighborhood and enjoy their time in DC. We have
							reserved a block of rooms at the Capitol Hill Hotel for
							the nights of April 12, 13, & 14, 2018. The hotel is just a
							10 minute walk to the wedding at Eastern Market, and
							we’ll also provide transportation from the hotel.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>