<div class="background">
	<div class="section contact">
		<div class="container">
			<div class="row">
				<h3 class="col">To Make Reservations</h3>
			</div>
			<div class="row">
				<div class="col">
					<div class="row as-col">
						<div class="col">
							Visit <a href="http://bitly.com/BsquaredDC" target="_blank">http://bitlycom/BsquaredDC</a>
						</div>
						<div class="col">OR</div>
						<div class="col">
							Call <a href="tel:+12024482081">202-448-2081</a> and request the<br>
							"Gallagher/Congdon Wedding"
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="row as-col">
						<div class="col problems">
							If you encounter any problems booking, you may call Patti Gallagher
							at <a href="tel:+18004460518">800-446-0518</a> for assistance.
						</div>
						<div class="col instructions">
							When reserving online, be sure to choose "Search Dates", then select
							a check-in date, checkout-out date, and click "Check Availability".
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>