<div class="background">
	<div class="section events">
		<div class="container">
			<div class="row no-gaps">
				<h2 class="col">Accomodations</h2>
			</div>
			<div class="row">
				<div class="col xs-full m-half xl-third">
					<img src="/static/img/main/easternmarket.png">
				</div>
				<div class="col xs-full m-half xl-third">
					<div class="row as-col no-gutter align-center">
						<h5 class="col typewriter">The Capitol Hill Hotel</h5>
						<div class="col">Rooms are available at a special rate this nearby hotel just for our guests</div>
						<div class="col">200 C St SE<br>Washington, DC 20003</div>
						<div class="col"><a href="#">Details and Reservations</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>