<div class="cards">
  <div class="flex columns">
    <div class="card">
      <div class="card-content">
        <span class="card-title">We're Thrilled!</span>
        <p>As two people who love adventures, we are both so excited to begin our journey, 
        and to have our friends and family join us for this celebration.  Each and every one
        of you is special to us, and we hope that you're just as eager as we are to cherish
        old memories and make new ones!</p>
        <p>On this website, we've endeavored to provide all the information you need to join us,
        and we hope that you'll use it to share your thoughts, ideas, and pictures with us. 
        There is informaiton on the time and location for the festivities, stories about us, and
        a place for all of you to share comments and upload pictures of us that you've taken over
        the years.  Also, you'll be able to share with us all of the wonderful pictures you're
        going to take at the upcoming festivities!</p>
        <p>Thanks, and see you soon!</p>
        <p style="font-family: cursive;"> Billy &amp; Betsy</p>
      </div>
    </div>
    <div class="flex rows">
      <div class="card-bio">
        <div class="card-image">
          <img src="../static/img/man.jpg">
          <span class="card-title">Tanner</span>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span class="card-title">Billy's ND Roommate</span>
            <span class="card-title">Best Man</span>
            <p>Since I was a little kid, I have been fascinated with the skies!  I spent many nights sitting in the back yard
            with my telescope or binoculars looking at the stars and planets, or laying on the ground watching meteor showers.</p>
          </div>
        </div>
      </div>
      <div class="card-bio">
        <div class="card-image">
          <img src="../static/img/man.jpg">
          <span class="card-title">David</span>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span class="card-title">Betsy's Something</span>
            <span class="card-title">Gentleman of Honor</span>
            <p>Retnec Thgilf Ecaps Draddog ASAN ta scitobor ecaps ni boj a htiw, esnefed ym retfa CD ni dednal yllanif I,
            Ainrofilac dna, Dnalyra, Yesrej Wen ni sboj dna, Hcet Aigroeg ta Atnalta ni loohcs darg, Emad Erton ta Anaidni ni
            egelloc ot gniog, yrtnuoc eht dnuora yaw ym derednaw I retfa!</p>
          </div>
        </div>
      </div>
      <div class="card-bio">
        <div class="card-image">
          <img src="../static/img/man.jpg">
          <span class="card-title">Deny</span>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span class="card-title">Billy's Brother</span>
            <p>Retnec Thgilf Ecaps Draddog ASAN ta scitobor ecaps ni boj a htiw, esnefed ym retfa CD ni dednal yllanif I,
            Ainrofilac dna, Dnalyra, Yesrej Wen ni sboj dna, Hcet Aigroeg ta Atnalta ni loohcs darg, Emad Erton ta Anaidni ni
            egelloc ot gniog, yrtnuoc eht dnuora yaw ym derednaw I retfa!</p>
          </div>
        </div>
      </div>
      <div class="card-bio">
        <div class="card-image">
          <img src="../static/img/woman.jpg">
          <span class="card-title">Jen</span>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span class="card-title">Billy's Fellow ND Band Member</span>
            <p>Since I was a little kid, I have been fascinated with the skies!  I spent many nights sitting in the back yard
            with my telescope or binoculars looking at the stars and planets, or laying on the ground watching meteor showers.
            </p>
          </div>
        </div>
      </div>
      <div class="card-bio">
        <div class="card-image">
          <img src="../static/img/woman.jpg">
          <span class="card-title">Jen</span>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span class="card-title">Besty's Something</span>
            <p>Retnec Thgilf Ecaps Draddog ASAN ta scitobor ecaps ni boj a htiw, esnefed ym retfa CD ni dednal yllanif I,
            Ainrofilac dna, Dnalyra, Yesrej Wen ni sboj dna, Hcet Aigroeg ta Atnalta ni loohcs darg, Emad Erton ta Anaidni ni
            egelloc ot gniog, yrtnuoc eht dnuora yaw ym derednaw I retfa!
            </p>
          </div>
        </div>
      </div>
      <div class="card-bio">
        <div class="card-image">
          <img src="../static/img/woman.jpg">
          <span class="card-title">Jenn</span>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span class="card-title">Billy's Friend from Grad School</span>
            <p>Since I was a little kid, I have been fascinated with the skies!  I spent many nights sitting in the back yard
            with my telescope or binoculars looking at the stars and planets, or laying on the ground watching meteor showers.
            </p>
          </div>
        </div>
      </div>
      <div class="card-bio">
        <div class="card-image">
          <img src="../static/img/man.jpg">
          <span class="card-title">Patrick</span>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span class="card-title">Betsy's Something</span>
            <p>Since I was a little kid, I have been fascinated with the skies!  I spent many nights sitting in the back yard
            with my telescope or binoculars looking at the stars and planets, or laying on the ground watching meteor showers.
            </p>
          </div>
        </div>
      </div>
      <div class="card-bio">
        <div class="card-image">
          <img src="../static/img/man.jpg">
          <span class="card-title">Shahin</span>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span class="card-title">Billy's YJFC Co-Pilot</span>
            <p>Retnec Thgilf Ecaps Draddog ASAN ta scitobor ecaps ni boj a htiw, esnefed ym retfa CD ni dednal yllanif I,
            Ainrofilac dna, Dnalyra, Yesrej Wen ni sboj dna, Hcet Aigroeg ta Atnalta ni loohcs darg, Emad Erton ta Anaidni ni
            egelloc ot gniog, yrtnuoc eht dnuora yaw ym derednaw I retfa!
            </p>
          </div>
        </div>
      </div>
      <div class="card-bio">
        <div class="card-image">
          <img src="../static/img/woman.jpg">
          <span class="card-title">Shelby</span>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span class="card-title">Betsy's Stanford Roommate</span>
            <p>Since I was a little kid, I have been fascinated with the skies!  I spent many nights sitting in the back yard
            with my telescope or binoculars looking at the stars and planets, or laying on the ground watching meteor showers.
            </p>
          </div>
        </div>
      </div>
      <div class="card-bio">
        <div class="card-image">
          <img src="../static/img/woman.jpg">
          <span class="card-title">Simmie</span>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span class="card-title">Betsy's Something</span>
            <p>Retnec Thgilf Ecaps Draddog ASAN ta scitobor ecaps ni boj a htiw, esnefed ym retfa CD ni dednal yllanif I,
            Ainrofilac dna, Dnalyra, Yesrej Wen ni sboj dna, Hcet Aigroeg ta Atnalta ni loohcs darg, Emad Erton ta Anaidni ni
            egelloc ot gniog, yrtnuoc eht dnuora yaw ym derednaw I retfa!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
