{# from 'main/panels/person.html' import person #}

{% macro person(name, side, image) %}
	<div class="col person">
		<img src="../static/img/{{ image }}.jpg" />
		<h4 class="elegant">{{name}}</h4>
		<h6>{{side}}'s Side</h6>
		{{ caller() }}
	</div>
{% endmacro %}

<div class="background">
	<div class="container">
		<div class="row">
			{% call person('Tanner', 'Billy', 'man') %}
				<p>my roommate from Notre Dame, ever longing for a pony</p>
			{% endcall %}
			{% call person('David', 'Betsy', 'man') %}
				<p>kinda of complicated but met in college and have been great friends since</p>
			{% endcall %}
			{% call person('Deny', 'Billy', 'man') %}
				<p>my brother and partner in driving mom & dad crazy growing up</p>
			{% endcall %}
			{% call person('Jen G', 'Betsy', 'woman') %}
				<p>met originally through Patrick, spent the last almost decade living it up in DC, now our neighbor</p>
			{% endcall %}
			{% call person('Jen H', 'Billy', 'woman') %}
				<p>met at an ND freshman send off in NJ, became great band buddies, always happy to take a late night phone call for advice</p>
			{% endcall %}
			{% call person('Patrick', 'Betsy', 'man') %}
				<p>met through David became fast friends (David's husband)</p>
			{% endcall %}
			{% call person('Jenn T', 'Billy', 'woman') %}
				<p>fellow Georgia Tech pilot and PhD student, was always willing to complain about grad school (married to Shahin)</p>
			{% endcall %}
			{% call person('Simmie', 'Betsy', 'woman') %}
				<p>met at work, became roommates, still surviving being women engineers together</p>
			{% endcall %}
			{% call person('Shahin', 'Billy', 'man') %}
				<p>one of the first people I met when I joined the Yellow Jacket Flying Club, many flying adventures (married to Jenn T)</p>
			{% endcall %}
			{% call person('Shelby', 'Betsy', 'woman') %}
				<p>roommate from Stanford, weathered the Toyon plague and Marguerite rides to Target together</p>
			{% endcall %}
		</div>
	</div>
</div>