{% macro person(name, title, image, side='l', size='m') %}
	{% set classes = 'col person' %}
	{% if (size == 'xl') %}
		{% set classes = classes + ' s12' %}
	{% elif (size == 'l') %}
		{% set classes = classes + ' s12 l6' %}
	{% elif (size == 'm') %}
		{% set classes = classes + ' s12 l6 xl4' %}
	{% elif (size == 's') %}
		{% set classes = classes + ' s12 m6 l4 xl3' %}
	{% endif %}
	{% if (side == 'l') %}
		{% set classes = classes + ' leftside' %}
	{% elif (side == 'r') %}
		{% set classes = classes + ' rightside' %}
	{% endif %}
	
	<div class="{{ classes }}">
		<img src="{{ image }}" style="float: {{ 'left' if side == 'l' else 'right' }}; width: 50%; max-width: 175px; margin-left: 10px;" />
		<h4 class="elegant">{{name}}</h4>
		<h5 class="elegant">{{title}}</h5>
		{{ caller() }}
	</div>

{% endmacro %}