<div class="background">
        <div class="section registry">
            <div class="container">
                <div class="row no-gaps">
                    <h1 class="col">The Travel Supplies</h1>
                </div>
                <div class="row">
                    <h4 class="col m-half xl-two-fifths">While we're just delighted to know that you'll be there to share the excitment, 
                        if you must know, here's a few things we could use for our journey!</h4>
                </div>
                <div class="row">
                    <div class="col xs-full m-half l-third">
					    <div class="row as-col no-gutter align-center">
                            <div class="col">REI - Supplies for the outdoors</div>
                            <div class="col"><img src="/static/img/main/easternmarket.png"></div>
                        </div>
                    </div>
                    <div class="col xs-full m-half l-third">
                        <div class="row as-col no-gutter align-center">
                            <div class="col">Crate and Barrel - Supplies for the home</div>
                            <div class="col"><img src="/static/img/main/easternmarket.png"></div>
                        </div>
                    </div>
                    <div class="col xs-full m-half l-third">
                        <div class="row as-col no-gutter align-center">
                            <div class="col">Amazon - Supplies for everything in between</div>
                            <div class="col"><img src="/static/img/main/easternmarket.png"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    