<div class="background">
    <div class="section registry">
        <div class="container">
            <div class="row no-gaps">
                <h1 class="col">The Travel Supplies</h1>
            </div>
            <!-- <div class="row">
                <h4 class="col m-three-quarters xl-three-fifths">We're delighted to know that you'll be there to share the excitement, 
                    and that's all we need! But if you must know, there's are a few things we could use for our journey!  We'll let you
                    know here when we've made our packing list.</h4>
            </div> -->
            <div class="row">
                <h4 class="col m-three-quarters xl-three-fifths">We're delighted to know that you'll be there to share the excitement, 
                    and that's all we need! But if you must know, here's a few things we could use for our journey!</h4>
            </div>
            <div class="row">
                <a href="https://bit.ly/2AlHGZf" target="_blank" class="col row as-col wrap-none">
                    <h5 class="col">REI - Supplies for the outdoors</h5>
                    <div class="col valign-middle"><img src="/static/img/main/index/rei_light.png"></div>
                </a>
                <a href="https://crate.us/2ASIzJX" target="_blank" class="col row as-col wrap-none">
                    <h5 class="col">Crate and Barrel - Supplies for the home</h5>
                    <div class="col valign-middle"><img src="/static/img/main/index/crateandbarrel_light.png"></div>
                </a>
                <a href="https://bit.ly/2jaJBbV" target="_new" class="col row as-col wrap-none">
                    <h5 class="col">Williams Sonoa - Supplies for the kitchen</h5>
                    <div class="col valign-middle"><img src="/static/img/main/index/williamssonoma_light.png"></div>
                </a>
                <a href="https://amzn.to/2C24Vbk" target="_new" class="col row as-col wrap-none">
                    <h5 class="col">Amazon - Supplies for everything in between</h5>
                    <div class="col valign-middle"><img src="/static/img/main/index/amazon_light.png"></div>
                </a>
            </div>
        </div>
    </div>
</div>
    