<div class="background">
	<div class="section story">
		<div class="container">
			<div class="row no-gaps">
				<h1 class="col">The Travel Log</h1>
			</div>
			<div class="row">
				<div class="col chapter">
					<img src="/static/img/main/index/meeting.jpg">
					<h3 class="elegant">We Met Staring at the Moon</h3>
					<p>One spring spring night back in 2014 (April 8th, to be specific), Katelyn, a mutual friend that Billy knew from his time at JPL and Betsy
						knew from a project at work at APL, invited both of us to an open observatory night at the Smithsonian National Air and Space Museum.
						Everybody else was late, but we were both on time!  So we found each other and got in line to look through the telescope.  Half an hour
						later, amidst finding out just how many common interests we have, we got to the front of the line and gazed at the Moon through the 
						telescope.</p>
					<p>The rest of the night, we look at stars and planets, and talked about traveling, rock climbing, college football, and more.  Billy gave 
						Betsy a ride home at the end of the night, and a few days later (April 13th), we had our first date at Jaleo in downtown DC.  We spent 
						hours enjoying the sangria, talking about all manner of things, including the places we wanted to go!  After dinner, we stopped for gelato 
						at Pitango, then went for a stroll on the National Mall under the light of the nearly full Moon.  We met looking at the Moon, and ever since,
						we can look up at the Moon and, no matter where we are, think of each other!</p>
				</div>
			</div>
			<div class="row">
				<div class="col chapter">
					<img src="/static/img/main/index/engagement.jpg">
					<h3 class="elegant">We Were Engaged Under the Stars</h3>
					<p>On the night of the full Moon and a partial lunar eclipse in February of 2017, we went down to the National Mall, outside the Air and Space
						Museum, ostensibly for Billy to take pictures of the eclipse.  The chilly, cloudy weather conspired to hide the Moon from view, but that 
						didn't stand in the way!  After setting up his camera, Billy pulled out the ring and proposed, and Betsy, of course, said yes!  While Betsy 
						suspected something might be up, what she didn't know was that Billy had assembled family and friends to meet us there!</p>
					<p>After the proposal, we, along with our families, went to the National Arboretum for a guided walk through the gardens and groves under the
						full Moon.  About halfway through, the clouds cleared and the moon came out!  We then met up with friends who came from all over the country
						at Harold Black, a speakeasy style bar across the street from Eastern Market to enjoy drinks!</p>
				</div>
			</div>
		</div>
	</div>
</div>
