<div class="background">
	<div class="section story">
		<div class="container">
			<div class="row no-gaps">
				<h1 class="col">The Travel Log</h1>
			</div>
			<div class="row">
				<div class="col chapter">
					<div class="img valign-middle align-center" style="height: 125px; background: blue; border: white;">IMAGE</div>
					<h3 class="elegant">We Met Staring at the Moon</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras diam massa, feugiat dignissim volutpat et, accumsan sit amet orci. Nam a pharetra arcu. Aenean auctor purus ut nulla ultricies pharetra. Nunc fermentum id mauris ut tincidunt. Suspendisse potenti. Proin at arcu sit amet nunc dapibus ornare nec eu leo. Aenean in sem velit. Etiam a dolor hendrerit, pretium est in, finibus leo. Vivamus feugiat vitae risus cursus maximus. Praesent enim eros, eleifend in magna non, rutrum imperdiet lorem. Suspendisse tristique ipsum vestibulum velit finibus maximus. Vestibulum sed quam diam. Sed convallis risus eu vehicula aliquam. Cras a commodo diam.</p>
				</div>
			</div>
			<div class="row">
				<div class="col chapter">
					<div class="img valign-middle align-center" style="height: 125px; background: blue; border: white;">IMAGE</div>
					<h3 class="elegant">We Were Engaged Under the Stars</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras diam massa, feugiat dignissim volutpat et, accumsan sit amet orci. Nam a pharetra arcu. Aenean auctor purus ut nulla ultricies pharetra. Nunc fermentum id mauris ut tincidunt. Suspendisse potenti. Proin at arcu sit amet nunc dapibus ornare nec eu leo. Aenean in sem velit. Etiam a dolor hendrerit, pretium est in, finibus leo. Vivamus feugiat vitae risus cursus maximus. Praesent enim eros, eleifend in magna non, rutrum imperdiet lorem. Suspendisse tristique ipsum vestibulum velit finibus maximus. Vestibulum sed quam diam. Sed convallis risus eu vehicula aliquam. Cras a commodo diam.</p>
				</div>
			</div>
		</div>
	</div>
</div>
