<div class="background">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<div class="card horizontal medium">
					<div class="card-image" id="eastern-market">
						<!-- <img src="/static/img/main/easternmarket.png"> -->
					</div>
					<div class="card-stacked">
						<div class="card-content center">
							<div class="card-title elegant big">Fly me to the Moon</div>
							<div class="text">Join us for the ceremony</div>
							<div class="minor">on the evening of</div>
							<div class="major">April 14, 2018</div>
							<div class="minor">at historic</div>
							<div class="major">Eastern Market</div>
							<div class="minor">in the city of</div>
							<div class="major">Washington, DC</div>
							<div class="text">Cocktail hour and reception to follow</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>