<div class="background navy">
	<div class="content">
		<h3 class="subtitle">We're Thrilled!</h3>
		<p>As two people who love adventures, we are both so excited to begin our journey, 
		and to have our friends and family join us for this celebration.  Each and every one
		of you is special to us, and we hope that you're just as eager as we are to cherish
		old memories and make new ones!</p>
		<p>On this website, we've endeavored to provide all the information you need to join us,
		and we hope that you'll use it to share your thoughts, ideas, and pictures with us. 
		There is information on the time and location for the festivities, stories about us, and
		a place for all of you to share comments and upload pictures of us that you've taken over
		the years.  Also, you'll be able to share with us all of the wonderful pictures you're
		going to take at the upcoming festivities!</p>
		<p>Thanks, and see you soon!</p>
		<p class="signature">Billy &amp; Betsy</p>
	</div>
</div>