<div class="background">
	<div class="section events">
		<div class="container">
			<div class="row no-gaps">
				<h2 class="col">Transportation</h2>
			</div>
			<div class="row">
				<div class="col xs-full m-half">
					<div class="row as-col no-gutter align-center">
						<div class="col">Shuttles will be provided from the hotel to venue</div>
						<div class="col"><img src="/static/img/main/easternmarket.png"></div>
					</div>
				</div>
				<div class="col xs-full m-half">
					<div class="row as-col no-gutter align-center">
						<div class="col">Both the hotel and venue are easily accessible by Metro</div>
						<div class="col"><img src="/static/img/main/easternmarket.png"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col xs-full m-half">
					<div class="row as-col no-gutter align-center">
						<div class="col">Ronald Reagan National Airport (DCA) is only 15 minutes from Capitol Hill</div>
						<div class="col">Dulles International Airport (IAD) and Baltimore-Washington International Airport (BWI) are also nearby</div>
						<div class="col"><img src="/static/img/main/easternmarket.png"></div>
					</div>
				</div>
				<div class="col xs-full m-half">
					<div class="row as-col no-gutter align-center">
						<div class="col">Union Station is nearby for those arriving by Amtrak, MARC, or VRE trains</div>
						<div class="col"><img src="/static/img/main/easternmarket.png"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>