<div class="background">
	<div class="container">
		<div class="row">
			<div class="col s12 l6">
				<img src="/static/img/man.jpg" style="float: right; width: 50%; max-width: 175px; margin-left: 10px; margin-bottom: 10px;" />
				<h4 class="elegant">Billy Gallagher</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras diam massa, feugiat dignissim volutpat et, accumsan sit amet orci. Nam a pharetra arcu. Aenean auctor purus ut nulla ultricies pharetra. Nunc fermentum id mauris ut tincidunt. Suspendisse potenti. Proin at arcu sit amet nunc dapibus ornare nec eu leo. Aenean in sem velit. Etiam a dolor hendrerit, pretium est in, finibus leo. Vivamus feugiat vitae risus cursus maximus. Praesent enim eros, eleifend in magna non, rutrum imperdiet lorem. Suspendisse tristique ipsum vestibulum velit finibus maximus. Vestibulum sed quam diam. Sed convallis risus eu vehicula aliquam. Cras a commodo diam.</p>
				<p>In hac habitasse platea dictumst. Aenean at luctus dolor. Etiam purus odio, tincidunt eu libero id, cursus imperdiet sapien. Duis sed lectus fermentum ipsum faucibus posuere ut et nunc. Donec nulla sem, placerat at lectus vel, aliquam porttitor nulla. Nulla quis nisl in odio tempor tempor congue sit amet mi. Morbi metus quam, rhoncus ac molestie maximus, dignissim eu neque. Donec in metus sed leo volutpat tempor. Morbi commodo purus justo, at scelerisque urna lobortis ac.</p>
			</div>
			<div class="col s12 l6">
				<img src="/static/img/woman.jpg" style="float: left; width: 50%; max-width: 175px; margin-right: 10px; margin-bottom: 10px;" />
				<h4 class="elegant">Betsy Congdon</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras diam massa, feugiat dignissim volutpat et, accumsan sit amet orci. Nam a pharetra arcu. Aenean auctor purus ut nulla ultricies pharetra. Nunc fermentum id mauris ut tincidunt. Suspendisse potenti. Proin at arcu sit amet nunc dapibus ornare nec eu leo. Aenean in sem velit. Etiam a dolor hendrerit, pretium est in, finibus leo. Vivamus feugiat vitae risus cursus maximus. Praesent enim eros, eleifend in magna non, rutrum imperdiet lorem. Suspendisse tristique ipsum vestibulum velit finibus maximus. Vestibulum sed quam diam. Sed convallis risus eu vehicula aliquam. Cras a commodo diam.</p>
				<p>In hac habitasse platea dictumst. Aenean at luctus dolor. Etiam purus odio, tincidunt eu libero id, cursus imperdiet sapien. Duis sed lectus fermentum ipsum faucibus posuere ut et nunc. Donec nulla sem, placerat at lectus vel, aliquam porttitor nulla. Nulla quis nisl in odio tempor tempor congue sit amet mi. Morbi metus quam, rhoncus ac molestie maximus, dignissim eu neque. Donec in metus sed leo volutpat tempor. Morbi commodo purus justo, at scelerisque urna lobortis ac.</p>
			</div>
		</div>
	</div>
</div>
