<div class="background">
	<div class="section us">
		<div class="container">
			<div class="row no-gaps">
				<h1 class="col">The Adventurers</h1>
			</div>
			<div class="row">
				<div class="col person">
					<img src="/static/img/main/index/billy.jpg">
					<h3 class="name">Billy Gallagher</h3>
					<p>I love to travel and I love space!  I also love building things, and always have a project or two (ok, maybe three...) going on.  Oh, and I have my pilot's license!  I
						grew up in North Jersey, spent 4 years in Northern Indiana at Notre Dame, eight years in Atlanta at Georgia Tech, and even part of a year in Southern California at JPL
						before finding my way to Washington, DC, where I work for NASA building space robots.  Each of these places and the people I met there are part of who I am today!</p>
					<p>I knew pretty early on that Betsy was special!  When we went to the Air and Space Museum, and afterwards she said she was so happy I was willing to come along, when I 
						assumed I was the one making her tag along, it was pretty clear!  I know that together, the next adventure is always just around the corner, whether it's an exciting 
						trip to an exotic place or just an evening walk to dinner down the street, and that it will be an amazing journey!</p>
				</div>
				<div class="col person">
					<img src="/static/img/main/index/betsy2.jpg">
					<h3 class="name">Betsy Congdon</h3>
					<p>I am a spacecraft building, West Wing loving, runner who has been living in the DC area for almost ten years.  While my family hails from Northern Indiana, I have lived 
						in Atlanta, Dallas, New Jersey, and Northern California.  Unsurprisingly, I spend a lot of time traveling in my free time, and enjoy visiting new places and seeing new
						things.  I also love going to Nats, Caps, and Stanford football games and Billy has gotten me more into soccer.  
					<p>Billy and I clicked pretty quickly, and we started spending almost all of our time together soon after we first met.  Whether it was a trying a new restaurant, drinking 
						new beers at local breweries, rock climbing, going to a concert, or doing the crossword together each night, it was clear we were a great match.  I'm looking forward
						to good times and new experiences in the future!
				</div>
			</div>
		</div>
	</div>
</div>
