<div class="background">
	<div class="section us">
		<div class="container">
			<div class="row no-gaps">
				<h1 class="col">The Adventurers</h1>
			</div>
			<div class="row">
				<div class="col person">
					<img src="/static/img/man.jpg">
					<h3 class="name">Billy Gallagher</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras diam massa, feugiat dignissim volutpat et, accumsan sit amet orci. Nam a pharetra arcu. Aenean auctor purus ut nulla ultricies pharetra. Nunc fermentum id mauris ut tincidunt. Suspendisse potenti.</p>
					<p>In hac habitasse platea dictumst. Aenean at luctus dolor. Etiam purus odio, tincidunt eu libero id, cursus imperdiet sapien. Duis sed lectus fermentum ipsum faucibus posuere ut et nunc. Donec nulla sem, placerat at lectus vel, aliquam porttitor nulla.</p>
				</div>
				<div class="col person">
					<img src="/static/img/woman.jpg">
					<h3 class="name">Betsy Congdon</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras diam massa, feugiat dignissim volutpat et, accumsan sit amet orci. Nam a pharetra arcu. Aenean auctor purus ut nulla ultricies pharetra. Nunc fermentum id mauris ut tincidunt. Suspendisse potenti.</p>
					<p>In hac habitasse platea dictumst. Aenean at luctus dolor. Etiam purus odio, tincidunt eu libero id, cursus imperdiet sapien. Duis sed lectus fermentum ipsum faucibus posuere ut et nunc. Donec nulla sem, placerat at lectus vel, aliquam porttitor nulla.</p>
				</div>
			</div>
		</div>
	</div>
</div>
