<!DOCTYPE html>
<html>
<head>
{# include "ganalytics.html" #}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}Home{% endblock %} - B and B</title>
{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.js') }}"></script>
<!--<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js') }}"></script>-->
<script type="text/javascript" src="{{ url_for('static', filename='js/velocity.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/global.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/toasts.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/tooltip.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/forms.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/picker.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/picker.date.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/picker.time.js') }}"></script>
<script src="https://use.typekit.net/vtb6zgi.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
{% endblock %}
{% block css %}
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
{% include "clicky.html" %}
{% with msgs = get_flashed_messages() %}
	{% if msgs %}
		<script>
			$(document).ready(function() {
				var toast = '<span>';
				{% for msg in msgs %}
					toast += '{{ msg }}<br>';
				{% endfor %}
				toast = toast.slice(0,-4) + '</span>';
				Materialize.toast($(toast), 10000);
			})
		</script>
	{% endif %}
{% endwith %}
</body>
</html>