<!DOCTYPE html>
<html>
<head>
{% include "gtag.html" %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}Home{% endblock %} - B and B</title>
{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.js') }}"></script>
<!--<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js') }}"></script>-->
<script src="https://use.typekit.net/vtb6zgi.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
{% endblock %}
{% block css %}
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
</head>
<body>
{% with msgs = get_flashed_messages() %}
	{% if msgs %}
		<ul class=flashes>
			{% for msg in msgs %}
				<li>{{ msg }}</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endwith %}
{% block content %}{% endblock %}
</body>
</html>