{% extends "base.html" %}

{% block content %}

<!-- <div class="debug">
  <input name="debugcheck" id="debugcheck" type="checkbox">
  <label for="debugcheck">Debug</label>
</div> -->
<div id="plx-viewport">
	<div id="{% block page_id %}page{% endblock %}">
		<div id="group-hero-image">
			{% block plx_hero_image %}{% endblock %}
		</div>
		{% block plx_content %}{% endblock %}
	</div>
</div>

<!-- <script>
  var debugInput = document.querySelector("input");
  function updateDebugState() {
      document.body.classList.toggle('debug-on', debugInput.checked);
  }
  debugInput.addEventListener("click", updateDebugState);
  updateDebugState();
</script> -->

{% endblock content %}




 

</body>
</html>
