<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>B and B</title>
<link href="../static/css/main.css" rel="stylesheet" type="text/css">
<script src="../static/js/jquery-3.1.1.js"></script>
<script src="../static/js/materialize.js"></script>
</head>

<body>
<div class="debug">
  <input name="debugcheck" id="debugcheck" type="checkbox">
  <label for="debugcheck">Debug</label>
</div>
<div id="plx-viewport">
  <div id="group-image">
    <div id="us"></div>
    <div id="trees"></div>
    <div id="moon"></div>
    <div id="title">
      <div>
        <h1 id="billy">Billy</h1>
        <h1 id="and">&amp;</h1>
        <h1 id="betsy">Betsy</h1>
      </div>
    </div>
  </div>
  <div class="group-panel">
    <div class="cards">
      <div class="flex">
        <div class="card">
          <div class="card-content">
            <span class="card-title">We're Thrilled!</span>
            <p>As two people who love adventures, we are both so excited to begin our journey, 
            and to have our friends and family join us for this celebration.  Each and every one
            of you is special to us, and we hope that you're just as eager as we are to cherish
            old memories and make new ones!</p>
            <p>On this website, we've endeavored to provide all the information you need to join us,
            and we hope that you'll use it to share your thoughts, ideas, and pictures with us. 
            There is information on the time and location for the festivities, stories about us, and
            a place for all of you to share comments and upload pictures of us that you've taken over
            the years.  Also, you'll be able to share with us all of the wonderful pictures you're
            going to take at the upcoming festivities!</p>
            <p>Thanks, and see you soon!</p>
            <p style="font-family: cursive;"> Billy &amp; Betsy</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="group-divider">
    <div class="window"></div>
    <div class="background"></div>
  </div>
  <div class="group-panel">
    <div class="cards">
      <div class="flex columns">
        <div class="flex rows">
          <div class="card-bio">
            <div class="card-image">
              <img src="../static/img/man.jpg">
              <span class="card-title">Billy</span>
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>Since I was a little kid, I have been fascinated with the skies!  I spent many nights sitting in the back yard
                with my telescope or binoculars looking at the stars and planets, or laying on the ground watching meteor showers.
                After I wandered my way around the country, going to college in Indiana at Notre Dame, grad school in Atlanta at 
                Georgia Tech, and jobs in New Jersey, Maryland, and California, I finally landed in DC after my defense, with a job
                in space robotics at NASA Goddard Space Flight Center!</p>
              </div>
            </div>
          </div>
          <div class="card-bio">
            <div class="card-image">
              <img src="../static/img/woman.jpg">
              <span class="card-title">Betsy</span>
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>Retnec Thgilf Ecaps Draddog ASAN ta scitobor ecaps ni boj a htiw, esnefed ym retfa CD ni dednal yllanif I,
                Ainrofilac dna, Dnalyra, Yesrej Wen ni sboj dna, Hcet Aigroeg ta Atnalta ni loohcs darg, Emad Erton ta Anaidni ni
                egelloc ot gniog, yrtnuoc eht dnuora yaw ym derednaw I retfa! Srewohs roetem gnihctaw dnuorg eht no gniyal ro,
                stenalp dna srats eht ta gnikool sraluconib ro epocselet ym htiw dray kcab eht ni gnittis sthgin ynam tneps I. Seiks
                eht htiw detanicsaf neeb evah I, dik elttil a saw I ecnis!</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <span class="card-title">A night under the Moon and stars!</span>
            <p>One clear April night in 2014, we both found ourselves at an open observatory night at the National Air &amp; Space 
            Museum. Katelyn, a mutual friend Billy knew from his time at JPL and Betsy knew from the Maker project at APL, had 
            invited us each to meet her a and few friends there.</p>
            <p>We both got there early, so got in line to look through the big telescope.  While we waited, we discovered we have a
            lot in common, and by the time we got the the front, we barely thought about the telesccope.  It was pointed at the
            moon, and when we asked what we were looking at, the girl told us, "It's the moon!"</p>
            <p>At the end of the night, Billy gave Betsy a ride home, and asked her to dinner.  We met up again a week later at
            Jaleo for our first date, and were there for three hours!  Afterwards, we got gelato and took a walk under the moonlight
            accross the National Mall.</p>
            <p>Ever since those early nights, the Moon has been special to us!  So under the full moon on a chilly February night,
            standing on the National Mall near the Air &amp; Space Museum, we got engaged, and then went for a beautiful hike under
            the moonlight through the National Arboretum.
            </p>
            <p>Now we're looking forward to celebrating our wedding with everybody, again, under the light of the full moon!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="group-divider">
    <div class="window"></div>
    <div class="background"></div>
  </div>
  <div class="group-panel">
    <div class="cards">
      <div class="flex columns">
        <div class="card">
          <div class="card-content">
            <span class="card-title">We're Thrilled!</span>
            <p>As two people who love adventures, we are both so excited to begin our journey, 
            and to have our friends and family join us for this celebration.  Each and every one
            of you is special to us, and we hope that you're just as eager as we are to cherish
            old memories and make new ones!</p>
            <p>On this website, we've endeavored to provide all the information you need to join us,
            and we hope that you'll use it to share your thoughts, ideas, and pictures with us. 
            There is informaiton on the time and location for the festivities, stories about us, and
            a place for all of you to share comments and upload pictures of us that you've taken over
            the years.  Also, you'll be able to share with us all of the wonderful pictures you're
            going to take at the upcoming festivities!</p>
            <p>Thanks, and see you soon!</p>
            <p style="font-family: cursive;"> Billy &amp; Betsy</p>
          </div>
        </div>
        <div class="flex rows">
          <div class="card-bio">
            <div class="card-image">
              <img src="../static/img/man.jpg">
              <span class="card-title">Tanner</span>
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <span class="card-title">Billy's ND Roommate</span>
                <span class="card-title">Best Man</span>
                <p>Since I was a little kid, I have been fascinated with the skies!  I spent many nights sitting in the back yard
                with my telescope or binoculars looking at the stars and planets, or laying on the ground watching meteor showers.</p>
              </div>
            </div>
          </div>
          <div class="card-bio">
            <div class="card-image">
              <img src="../static/img/man.jpg">
              <span class="card-title">David</span>
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <span class="card-title">Betsy's Something</span>
                <span class="card-title">Gentleman of Honor</span>
                <p>Retnec Thgilf Ecaps Draddog ASAN ta scitobor ecaps ni boj a htiw, esnefed ym retfa CD ni dednal yllanif I,
                Ainrofilac dna, Dnalyra, Yesrej Wen ni sboj dna, Hcet Aigroeg ta Atnalta ni loohcs darg, Emad Erton ta Anaidni ni
                egelloc ot gniog, yrtnuoc eht dnuora yaw ym derednaw I retfa!</p>
              </div>
            </div>
          </div>
          <div class="card-bio">
            <div class="card-image">
              <img src="../static/img/man.jpg">
              <span class="card-title">Deny</span>
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <span class="card-title">Billy's Brother</span>
                <p>Retnec Thgilf Ecaps Draddog ASAN ta scitobor ecaps ni boj a htiw, esnefed ym retfa CD ni dednal yllanif I,
                Ainrofilac dna, Dnalyra, Yesrej Wen ni sboj dna, Hcet Aigroeg ta Atnalta ni loohcs darg, Emad Erton ta Anaidni ni
                egelloc ot gniog, yrtnuoc eht dnuora yaw ym derednaw I retfa!</p>
              </div>
            </div>
          </div>
          <div class="card-bio">
            <div class="card-image">
              <img src="../static/img/woman.jpg">
              <span class="card-title">Jen</span>
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <span class="card-title">Billy's Fellow ND Band Member</span>
                <p>Since I was a little kid, I have been fascinated with the skies!  I spent many nights sitting in the back yard
                with my telescope or binoculars looking at the stars and planets, or laying on the ground watching meteor showers.
                </p>
              </div>
            </div>
          </div>
          <div class="card-bio">
            <div class="card-image">
              <img src="../static/img/woman.jpg">
              <span class="card-title">Jen</span>
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <span class="card-title">Besty's Something</span>
                <p>Retnec Thgilf Ecaps Draddog ASAN ta scitobor ecaps ni boj a htiw, esnefed ym retfa CD ni dednal yllanif I,
                Ainrofilac dna, Dnalyra, Yesrej Wen ni sboj dna, Hcet Aigroeg ta Atnalta ni loohcs darg, Emad Erton ta Anaidni ni
                egelloc ot gniog, yrtnuoc eht dnuora yaw ym derednaw I retfa!
                </p>
              </div>
            </div>
          </div>
          <div class="card-bio">
            <div class="card-image">
              <img src="../static/img/woman.jpg">
              <span class="card-title">Jenn</span>
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <span class="card-title">Billy's Friend from Grad School</span>
                <p>Since I was a little kid, I have been fascinated with the skies!  I spent many nights sitting in the back yard
                with my telescope or binoculars looking at the stars and planets, or laying on the ground watching meteor showers.
                </p>
              </div>
            </div>
          </div>
          <div class="card-bio">
            <div class="card-image">
              <img src="../static/img/man.jpg">
              <span class="card-title">Patrick</span>
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <span class="card-title">Betsy's Something</span>
                <p>Since I was a little kid, I have been fascinated with the skies!  I spent many nights sitting in the back yard
                with my telescope or binoculars looking at the stars and planets, or laying on the ground watching meteor showers.
                </p>
              </div>
            </div>
          </div>
          <div class="card-bio">
            <div class="card-image">
              <img src="../static/img/man.jpg">
              <span class="card-title">Shahin</span>
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <span class="card-title">Billy's YJFC Co-Pilot</span>
                <p>Retnec Thgilf Ecaps Draddog ASAN ta scitobor ecaps ni boj a htiw, esnefed ym retfa CD ni dednal yllanif I,
                Ainrofilac dna, Dnalyra, Yesrej Wen ni sboj dna, Hcet Aigroeg ta Atnalta ni loohcs darg, Emad Erton ta Anaidni ni
                egelloc ot gniog, yrtnuoc eht dnuora yaw ym derednaw I retfa!
                </p>
              </div>
            </div>
          </div>
          <div class="card-bio">
            <div class="card-image">
              <img src="../static/img/woman.jpg">
              <span class="card-title">Shelby</span>
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <span class="card-title">Betsy's Stanford Roommate</span>
                <p>Since I was a little kid, I have been fascinated with the skies!  I spent many nights sitting in the back yard
                with my telescope or binoculars looking at the stars and planets, or laying on the ground watching meteor showers.
                </p>
              </div>
            </div>
          </div>
          <div class="card-bio">
            <div class="card-image">
              <img src="../static/img/woman.jpg">
              <span class="card-title">Simmie</span>
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <span class="card-title">Betsy's Something</span>
                <p>Retnec Thgilf Ecaps Draddog ASAN ta scitobor ecaps ni boj a htiw, esnefed ym retfa CD ni dednal yllanif I,
                Ainrofilac dna, Dnalyra, Yesrej Wen ni sboj dna, Hcet Aigroeg ta Atnalta ni loohcs darg, Emad Erton ta Anaidni ni
                egelloc ot gniog, yrtnuoc eht dnuora yaw ym derednaw I retfa!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 
<script>
  var debugInput = document.querySelector("input");
  function updateDebugState() {
      document.body.classList.toggle('debug-on', debugInput.checked);
  }
  debugInput.addEventListener("click", updateDebugState);
  updateDebugState();
</script>
</body>
</html>
