@charset "UTF-8";
$flex-container-width: 0.7;
.flex {
  @media #{$small-and-down} {
    width: 100%;
  }
  @media #{$medium-and-up} {
    width: $flex-container-width * 100%;
    max-width: $large-screen;
  }
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;
}
.flex > div {
  padding: 10px;
  margin: 10px;
  flex-basis: 0;
  flex: 1 1 0;
  @media #{$small-and-down} {
    width: 100%;
    flex-basis: auto;
  }
  @media #{$medium-and-up} {
    min-width: $small-screen * $flex-container-width * 0.7;
  }
  
}
.debug-on .flex div {
  outline: 1px black dotted;
}