{% extends "main/main_base.html" %}

{% set page_sections = [
	{'page': 'main/panels/intro.html', 				'divider_after': false,		'dev_only': false },
	{'page': 'main/panels/summary.html', 			'divider_after': true,		'dev_only': false },
	{'page': 'main/panels/us.html', 				'divider_after': false,		'dev_only': false },
	{'page': 'main/panels/story.html', 				'divider_after': true,		'dev_only': false },
	{'page': 'main/panels/party.html', 				'divider_after': true,		'dev_only': false },
	{'page': 'main/panels/events.html', 			'divider_after': false,		'dev_only': false },
	{'page': 'main/panels/lodging.html', 			'divider_after': false,		'dev_only': false },
	{'page': 'main/panels/transportation.html', 	'divider_after': false,		'dev_only': true },
	{'page': 'main/panels/map.html', 				'divider_after': true,		'dev_only': false },
	{'page': 'main/panels/registry.html', 			'divider_after': false,		'dev_only': false },
	{'page': 'main/panels/more.html', 				'divider_after': false,		'dev_only': true  }] %}

{% block page_id %}index{% endblock %}

{% block plx_hero_image %}
{% include "main/heros/index.html" %}
{% endblock %}