@charset "UTF-8";

.elegant {
    @extend .accent;
    line-height: 1.1;
}

.typewriter {
    @extend .display;
    line-height: 1.2;
}

.signature {
    @extend h5, .elegant;
}

@mixin dividers($imgs) {
    .group-divider {
        @each $idx, $div in $imgs {
		    &:nth-of-type(#{$idx}) > .background {
			    background-image: url(/static/img/dividers/divider-#{$div}.jpg);
            }
        }
    }
}

@import "main/index";
@import "main/hotel";
@import "rsvp/rsvp";