@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.materialize-icons {
    line-height: inherit;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga';
  
    &.left {
      float: left;
      margin-right: 15px;
    }
    &.right {
      float: right;
      margin-left: 15px;
    }
    &.tiny {
      font-size: 1rem;
    }
    &.small {
      font-size: 2rem;
    }
    &.medium {
      font-size: 4rem;
    }
    &.large {
      font-size: 6rem;
    }
}