@charset "utf-8";

#group-image {
  @extend %plx-group;
  z-index: 1;
  #us {
    @extend %plx-base;
    height: 100vh;
    background-image: url(../img/us.png);
    background-size: auto 40%;
  }
  #trees {
    @extend %plx-n200;
    background-image: url(../img/trees.png);
    background-size: cover;
    background-position: top center;
    left: -0.5vw;
    top: -10vh;
  }
  #moon {
    @extend %plx-n300;
    background-image: url(../img/moon.png);
    background-size: auto 40%;
    background-position: top center;
    left: 7vw;
    top: -22vh
  }
  #title {
    @extend %plx-n125;
    > div {
      margin: 0 auto;
      padding-top: 130px;
      color: ivory;
      font-size: 3em;
      text-align: center;
      font-family: cursive;
      display: table;
    }
    h1 {
      margin: 0;
      padding: 0;
      font-size: 6rem
    }
    #billy {
      padding-right: 2.5em;
      @include big-first-letter;
    }
    #betsy {
      padding-left: 2.5em;
      @include big-first-letter;
    }
  }
}

.group-panel {
  @extend %plx-group;
  z-index: 3;
  > .cards {
    @extend %plx-solid;
  }
}

.group-divider {
  @extend %plx-group;
  z-index: 2;
  > .window {
    @extend %plx-base;
    height: 200px;
  }
  > .background {
    @extend %plx-n80;
    background-image: url(https://static.pexels.com/photos/107956/pexels-photo-107956.jpeg);
    background-size: cover;
    top: -40%;
    bottom: -40%;
    left: -1vw; 
  }
}
