@charset "UTF-8";

//@import "reset/reset";
//@import url("http://fonts.googleapis.com/icon?family=Material+Icons");
//@import "materialize/materialize";
@import "parallax/parallax";
//@import "flex/flex";