

@import "reset/reset";

@import url("http://fonts.googleapis.com/icon?family=Material+Icons");
@import "materialize/mixins";

@import "elements/variables";

@import "materialize/materialize";
  
@import "parallax/parallax";

@import "elements/elements";

@import "pages/pages";
