//Materialize Adjustments


html {
	font-family: ingra, "helvetica neue", "segoe ui", "franklin gothic", sans-serif;
	font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
	font-family: ingra-2, "helvetica neue", "segoe ui", "franklin gothic", sans-serif;
	font-weight: 100;
}

p {
  text-align: justify;
  margin-bottom: 10px;
}

.row:last-child {
	margin-bottom: 0;
}

.col {
	img {
		width: 100%;
	}
}


//New Elements


@mixin big-first-letter {
  &::first-letter {
    font-size: 1.5em;
  }
}

.elegant {
	font-family: annabelle-jf, "apple chancery", "monotype corsiva", "lucida calligraphy", "lucida handwriting", cursive;
	font-weight: 400;
	font-style: normal;
	line-height: 1.1;
	&.big {
		line-height: 1.3;
	}
}

.signature {
	@extend h5;
	@extend .elegant;
//	padding-top: 0.3rem;
//	padding-bottom: 0.4rem;
}

.big {
	font-size: $h2-fontsize;
	margin-bottom: $h2-fontsize / 4;
}

.lines {
	font-size: 1.2em;
	line-height: 1;
	div {
		margin-bottom: 0.3em;
		&.major {
			font-size: 1.7em;
			margin-bottom: 0.5em;
		}
		
		&.minor {
			font-size: 0.85em;
			margin-bottom: 0.2em;
		}
	}
}

