//lists


p {
    margin-bottom: 1.2rem;
}

h1 {
    margin-bottom: $h1-fontsize / 3;
}

h2 {
    margin-bottom: $h2-fontsize / 3;
}

h3 {
    margin-bottom: $h3-fontsize / 3;
}

h4 {
    margin-bottom: $h4-fontsize / 3;
}

h5 {
    margin-bottom: $h5-fontsize / 3;
}

h6 {
    margin-bottom: $h6-fontsize / 3;
}

hr, .divider {
    height: 1px;
    overflow: hidden;
    background-color: $secondary-color;
}

blockquote {
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid $primary-color;
}

table, th, td {
    border: none;
}

table {
    width: 100%;
    display: table;

    &.bordered {
        > tbody, > thead, > tfoot {
            > tr {
                border-bottom: 1px solid $table-border-color;
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }

    &.striped > tbody {
        > tr:nth-child(odd) {
            background-color: $table-striped-color;
        }

        > tr > td {
            border-radius: 0;
        }
    }

    &.highlight > tbody > tr {
        transition: background-color .25s ease;
        &:hover {
            background-color: $table-striped-color;
        }
    }

    &.centered {
        > tbody, > thead, > tfoot {
            > th, > td {
                text-align: center;
            }
        }
    }
}

thead {
    border-bottom: 1px solid $table-border-color;
    &.bordered {
        border-bottom-width: 2px;
    }
}

tfoot {
    border-top: 1px solid $table-border-color;
    &.bordered {
        border-bottom-width: 2px;
    }
}

td, th{
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}

// Responsive tables

