$navy: (
  "base":       navy,
  "lighten-5":  scale-color(navy, $lightness: 85%),
  "lighten-4":  scale-color(navy, $lightness: 68%),
  "lighten-3":  scale-color(navy, $lightness: 51%),
  "lighten-2":  scale-color(navy, $lightness: 34%),
  "lighten-1":  scale-color(navy, $lightness: 17%),
  "darken-1":   scale-color(navy, $lightness: -17%),
  "darken-2":   scale-color(navy, $lightness: -34%),
  "darken-3":   scale-color(navy, $lightness: -51%),
  "darken-4":   scale-color(navy, $lightness: -68%)
);
$shades: map-merge($shades, ("ivory": ivory, "silver": silver));
$colors: map-merge($colors, ("shades": $shades, "navy": $navy));

$dark-background-color: color("navy", "darken-4");
$light-background-color: color("shades", "ivory");
$on-dark-text-color: color("shades", "silver");
$on-light-text-color: $off-black;
$primary-color: color("navy", "base");
$secondary-color: color("amber", "lighten-3");
$error-color: color("red", "darken-3");
$link-color: color("teal", "darken-1");
//$card-bg-color: $light-background-color;
//$card-link-color: $link-color;

$roboto-font-path: "static/fonts/roboto/";

$h1-fontsize: 4rem;
$h2-fontsize: $h1-fontsize * 0.8;
$h3-fontsize: $h2-fontsize * 0.8;
$h4-fontsize: $h3-fontsize * 0.8;
$h5-fontsize: $h4-fontsize * 0.8;
$h6-fontsize: $h5-fontsize * 0.8;
