@charset "UTF-8";
$flex-container-width: 0.7;
.flex {
  @media #{$small-and-down} {
    width: 100%;
  }
  @media #{$medium-and-up} {
    width: $flex-container-width * 100%;
    max-width: $large-screen;
  }
  .flex {
    width: 100%;
    padding: 0;
  }
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
  &.rows {
    flex-direction: row;
  }
  &.columns {
    flex-direction: column;
  }
}
.flex > div {
  flex-grow: 1;
  flex-shrink: 1;
  &:not(.flex) {
    @media #{$small-and-down} {
      flex-basis: auto;
    }
    @media #{$medium-and-up} {
      flex-basis: 0;
    }
  }
}
.debug-on .flex div {
  outline: 1px black dotted;
}